
#searcharea {
    margin: 220px auto;

}
.google-logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#search-box{
    text-align: center;
    padding: 30px;
    
}
#text-box {
    height: 50px;
    border-radius: 30px;
    font-size: medium;
    
}
button {
    padding: 10px;
    margin: 5px;
    font-size: 11pt;
    border: none;
    background-color: rgb(245, 243, 243);
    color: rgb(107, 106, 106);
}
.buttons {
    padding-top: 30px;
}

