ul {
    margin: 10px;
    padding: 10px;
  }
li {
    display: inline;
    padding: 0px 10px 0px 10px;
    font-family: Arial;
    font-size: small;
    color: rgb(107, 106, 106);
}
header button {
    background-color: royalblue;
}
#apps {
    background-image: url('https://ssl.gstatic.com/gb/images/i1_1967ca6a.png');
    opacity: .55;
    vertical-align: middle; 
    background-position: -132px -38px;
    background-size: 528px 68px;
    display: inline-block;
    height: 30px;
    width: 30px;
}
.topnav-right {
    float: right;
}
#searcharea {
    margin: 180px auto;

}
.google-logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#search-box{
    text-align: center;
    padding: 30px;
}
#input-area {
    display: flex;
    justify-content: center;
    position:relative;
}
#text-box {
    height: 45px;
    border-radius: 30px;
    font-size: medium;
    border: 1px solid rgb(230, 230, 230);
    width: 40%;
    background-image: url('searchicon.png');
    background-position: 10px 8px;
    background-repeat: no-repeat;
    padding-left: 50px;
}
#text-box:hover {
    border: 3px solid rgb(230, 230, 230)
}
#voice {
    background-image: url('https://www.gstatic.com/images/branding/googlemic/2x/googlemic_color_24dp.png');
    background-size: 32px;
    height: 32px;
    width: 32px;
    position: relative;
    top: 9px;
    right: 45px;
}
button {
    padding: 10px;
    margin: 5px;
    font-size: 11pt;
    border: none;
    background-color: rgb(245, 243, 243);
    color: rgb(107, 106, 106);
}
.buttons {
    padding-top: 30px;
}
header button {
    background-color: royalblue;
    color:white;
    font-weight: bold;
    font-size: 9pt;
    border-radius: 2px;
}
footer {
    background-color: rgb(245, 243, 243);
    position: absolute;
    bottom: 0;
    width: 99.45%;

}
.bottomnav-right {
    float: right !important;
}
